*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.timer-container {
    padding: 10px;
    display:flex;
}

.timer-title {
    padding: 5px
}

.time-count {
    padding: 5px;
}

.seconds {
    padding: 5px;
}

.score-container {
    display: flex;
    padding: 10px;
}

.score {
    justify-content: center;
    padding: 5px;
}

.current-score {
    padding: 5px
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    padding: 10px;
    margin: 5px;
    text-decoration: underline;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    color: green;
}

.sub-title {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: purple;
}

.card-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card {
    text-align: center;
    box-shadow: 0 4px 8px 0;
    padding: 10px;
}

.card-container {
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 10px 30px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.start-button {
    color: green;
    background: purple;
    border-radius: 4px;
    padding: 5px;
    font-weight: bolder;
}

.start-button:hover {
    cursor: pointer;
    box-shadow: violet;
    transform: scale(1.05);

}

.highscore-button {
    color: green;
    background: purple;
    border-radius: 4px;
    padding: 5px;
    font-weight: bolder;
}

.highscore-button:hover {
    cursor: pointer;
    box-shadow: violet;
    transform: scale(1.05);

}

h3{
    text-decoration: underline;
    color: green;
}

.header{
    display: flex;
    justify-content: space-between;
}



.question {
    text-align: center;
    padding: 35px;
    color: green;
    border: green double;
    margin: 20px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.answer-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background:purple;
    font-size: 2rem;
    min-width: 5rem;
}

.answer-container:hover {
    cursor: pointer;
    box-shadow: violet;
    transform: scale(1.02);
    transform: translate(100ms);
}

.answer-prefix{
    padding: 2rem;
    background: purple;
}
.answer-text{
    padding: 2rem;
    background: purple;
    width: 100%;
}

.correct{
    background: green;
}

.incorrect{
    background: red;
}


